**/.venv
**/venv
**/env
**/.env
**/.env.*
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/pip-log.txt
**/.vscode
**/.idea
**/*.swp
**/*.swo
**/.git
**/.gitignore
**/README.md
**/*.log
**/logs/
**/docker-compose.yaml
**/Dockerfile*
**/.dockerignore
**/tmp/
**/temp/
**/model_workshop/
**/safe/
**/data/*.tmp