services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - ./code/main.py:/app/main.py
      - ./code/textutil.py:/app/textutil.py
      - ./code/database.py:/app/database.py
      - ./code/data_processing.py:/app/data_processing.py
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    env_file:
      - .env